#auth-forgot-password {
	
	.scroll-content {
	  @include background-image-retina('../img/background', 'png', 320px, 568px);
	}

	#logo {
		@include background-image-retina('../img/logo', 'png', 220px, 75px);
		margin: 20px;
		width: 220px;
		height: 75px;
		margin: 45% auto 35px auto;
	}

	h1 {
		text-align: center;
		font-size: 15px;
		font-weight: 700;
		color: #fff200;
		margin-top: 40px;
	}

	h2 {
		text-align: center;
		font-size: 12px;
		font-weight: 400;
		color: #FFF;
	}

	.list {
		max-width: 220px;
		margin: 10px auto;
	}
}